*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron Regular'), local('Orbitron-Regular'), url(http://fonts.gstatic.com/s/orbitron/v8/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    background: #348b9e;
    padding: 25px 4vw;
    text-align: center;
    font-family: 'Orbitron';
    height: 100vh;
}

/* --------- New Game Menu Styles ------------- */

/*TODO: remove once JS implemented */
#start-menu {
    padding: 25px 200px;
}

#start-menu h1 {
    font-size: 4em;
    margin-top: 10vh;
    margin-bottom: 25px;
    color: white;
}

#start-menu h1 i {
    margin: 0px 10px;
}

#start-menu h2 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 50px;
    color: white;
    font-variant: small-caps;
}

#button-menu {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0px 30%;
    perspective: 200px;
}

#easy-btn {
    padding: 15px 25px;
    border: 3px solid white;
    margin-bottom: 20px;
    color: white;
    width: 100%;
    -ms-transform: rotateY(-15deg); /* IE 9 */
    -webkit-transform: rotateY(-15deg); /* Safari */
    transform: rotateY(-15deg);
}

#hard-btn {
    padding: 15px 25px;
    border: 3px solid white;
    color: white;
    width:100%;
    -ms-transform: rotateY(15deg); /* IE 9 */
    -webkit-transform: rotateY(15deg); /* Safari */
    transform: rotateY(15deg);
}

#easy-btn:hover, 
#hard-btn:hover {
    color: #348b9e;
    background: white;
}


/* --------- Game Screen Styles --------------- */

#game {
    visibility: hidden;
}
#game h1 a {
    font-size: 4em;
    font-weight: 300;
    margin-top: 1%;
    margin-bottom: 25px;
    color: white;
    text-decoration: none;
}

#game h1 a i {
    margin: 0px 10px;
}

#subheading-container {
    padding: 10px 0px;
    margin-bottom: 25px;
}

#subheading-container:after {
    clear: both;
}


#lives {
    float: left;
    color: white;
    margin-left: 10px;
}

#timer {
    float: right;
    color: white;
    margin-right: 10px;
}


#easy-grid-container {
    padding: 1vw 5px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(6, 1fr);
    height: 68vh;
    margin-bottom: 30px;
}

#easy-grid-container .box {
    background: #7986cb;
    width: 100%;
    height: 100%;
/*  padding: 17vw 17vw;*/
    margin: 0px;
    border-radius: 8px;
}

#hard-grid-container {
    padding: 1vw 5px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(8, 1fr);
    height: 68vh;
    margin-bottom: 30px;
    visibility: hidden;
}

#hard-grid-container .box {
    background: #7986cb;
    width: 100%;
    height: 100%;
/*  padding: 17vw 17vw;*/
    margin: 0px;
    border-radius: 8px;
}

.box i {
    font-size: 2em;
    color: #FFF;
}

#youwon {
    font-size: 3em;
    color: #FFF;
    position: relative;
    top: 45%;
    text-align: center;
    z-index: 998;
}

#youwonsub {
    font-size: 0.8em;
    color: #FFF;
    position: relative;
    top: 50%;
    text-align: center;
    z-index: 998;
}
/* -------------- Animations ------------------ */

/* Flips the box 180 deg counter-clockwise on x-axis */
@keyframes flipfront {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
    animation-timing-function: ease-out;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    animation-timing-function: ease-out;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    animation-timing-function: ease-in;
  }
}

/* Flips the box 180 deg counter-clockwise on x-axis, while fading in for FA icon */
@keyframes flipfrontfade {
  from {
    opacity: 0;
    transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
    animation-timing-function: ease-out;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    animation-timing-function: ease-out;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    animation-timing-function: ease-in;
  }

  to {
    opacity: 1;
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    animation-timing-function: ease-in;
  }
}

/* Flips the box 180 deg clockwise on x-axis */
@keyframes flipback {
    from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-out;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-in;
  }
}

/* Flips the box 180 deg clockwise on x-axis, while fading out for FA icon */
@keyframes flipbackfade {
    from {
    opacity: 1;
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-out;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-in;
  }

  to {
    opacity: 0;
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-in;
  }
}
/* Flips the box 360 deg clockwise on x-axis while fading in */
@keyframes flip {
  from {
    opacity: 0;
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    opacity: 1;
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
  }

  to {
    opacity: 1;
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

/*Fades in */
@keyframes fadeIn {
  from {
    opacity: 0;
    animation-timing-function: ease-out;
  }

  to {
    opacity: 1;
    animation-timing-function: ease-in;
  }
}




/* class added by JS onClick */
.box.flipfront{
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flipfront;
    animation-duration: 1.5s; 
    animation-play-state: running; 
}

.flipfront{
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flip;
    animation-duration: 1.5s; 
    animation-play-state: running; 
}
.fadein {
    animation-name: fadeIn;
    animation-duration: 1.5s; 
    animation-play-state: running; 
    animation-delay: 1.5s;
}
.fa.flipfrontfade {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flipfrontfade;
    animation-duration: 1.5s; 
    animation-play-state: running; 
}

.box.flipback {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flipback;
    animation-duration: 1.5s; 
    animation-play-state: running; 
}
.fa.flipbackfade {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flipbackfade;
    animation-duration: 1.5s; 
    animation-play-state: running; 
}


